.Simg
{
    background-image: url('th.jpeg');
    background-size: cover;
    z-index: -1;
}

.mbg
{
    height: 90vh;
    background-image: url('new.webp');
    background-size: cover;
    z-index: 0;
   
  
}
